{% extends 'base.html' %}
<!--HOME-->
{% block title %}Home{% endblock title %}
<!--HERE-->
{% block body %}
<!DOCTYPE html>
<html>
  <head>
    <title>First Web Page</title>
  </head>

  <style>
    img {
      display: block;
      width: 20%;
      height: 20%;
      object-fit: cover;
    }
    .fronthead {
      position: relative;
      text-align: center;
      color: white;
      font-size: 60px;
    }
  </style>
  <body bgcolor="light-orange">
    <div>
      <h3 class="fronthead">Online Auction System</h3>
    </div>
  </body>
</html>

{% endblock body %}
